@model IEnumerable<Restaurant.Models.MasterContactUsInformation>

@{
    ViewData["Title"] = "Index";
}

<h5 class="card-title">MasterContactUsInformation</h5>
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="MasterContactUsInformation" asp-action="Index">MasterContactUsInformation</a></li>

    </ol>
    </nav>
<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    
                    <p></p>
                    <p>
                            <a class="btn btn-primary" asp-action="Create">Create New</a>
                    </p>
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th style="font-size:15px">
                                    @Html.DisplayNameFor(model => model.MasterContactUsInformationIdesc)
                                </th>
                                <th style="font-size:15px">
                                    @Html.DisplayNameFor(model => model.MasterContactUsInformationImageUrl)
                                </th>
                                <th style="font-size:15px">
                                    @Html.DisplayNameFor(model => model.MasterContactUsInformationRedirect)
                                </th>
                                <th style="font-size:15px">
                                    @Html.DisplayNameFor(model => model.MasterContactUsInformationTitle)
                                </th>
                                


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MasterContactUsInformationIdesc)
                                    </td>
                                    <td>
                                        <img src="~/Images/MasterContactUsInformation/@item.MasterContactUsInformationImageUrl" style="max-width:50px">
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MasterContactUsInformationRedirect)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MasterContactUsInformationTitle)
                                    </td>

                                    

                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.MasterContactUsInformationId"><i class="bi bi-pencil-square"></i></a> |
                                        <a asp-action="Details" asp-route-id="@item.MasterContactUsInformationId"><i class="fa-fa-sharp fa-solid fa-circle-info"></i></a> |
                                        <a asp-action="Delete" asp-route-id="@item.MasterContactUsInformationId">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-x" viewBox="0 0 16 16">
                                                <path d="M6.854 7.146a.5.5 0 1 0-.708.708L7.293 9l-1.147 1.146a.5.5 0 0 0 .708.708L8 9.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 9l1.147-1.146a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146z" />
                                                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                                            </svg>
                                        </a>
                                        @if (item.IsActive == true)
                                        {
                                            <a asp-action="Active" asp-route-id="@item.MasterContactUsInformationId">
                                                <i class="fa-fa-sharp fa-solid fa-eye"></i>

                                            </a>
                                        }
                                        else if (item.IsActive == false)
                                        {
                                            <a asp-action="Active" asp-route-id="@item.MasterContactUsInformationId">
                                                <i class="fa-fa-sharp fa-solid fa-eye-slash"></i>

                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- Button trigger modal -->
                    <!-- Disabled Backdrop Modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#disablebackdrop">
                        Launch Modal
                    </button>
                    <div class="modal fade" id="disablebackdrop" tabindex="-1" data-bs-backdrop="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Disabled Backdrop</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Non omnis incidunt qui sed occaecati magni asperiores est mollitia. Soluta at et reprehenderit. Placeat autem numquam et fuga numquam. Tempora in facere consequatur sit dolor ipsum. Consequatur nemo amet incidunt est facilis. Dolorem neque recusandae quo sit molestias sint dignissimos.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Disabled Backdrop Modal-->
                </div>
            </div>

        </div>
    </div>
</section>

<script>if (window.self == window.top) { (function (i, s, o, g, r, a, m) { i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga'); ga('create', 'UA-55234356-4', 'auto'); ga('send', 'pageview'); }</script>

