@model Restaurant.Models.MasterPartner

@{
    ViewData["Title"] = "Details";
}

<h1 class="card-title">Details</h1>
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="MasterPartner" asp-action="Index">MasterPartner</a></li>
        <li class="breadcrumb-item active"><a asp-controller="MasterPartner" asp-action="Details">Details</a></li>
    </ol>
</nav>
<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">MasterPartner</h5>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.MasterPartnerName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.MasterPartnerName)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.MasterPartnerLogoImageUrl)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.MasterPartnerLogoImageUrl)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.MasterPartnerWebsiteUrl)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.MasterPartnerWebsiteUrl)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.IsActive)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.IsActive)
                        </dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MasterPartnerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
