@model Restaurant.Models.MasterOffer

@{
    ViewData["Title"] = "Details";
}

<h1 class="card-title">Details</h1>
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="MasterOffer" asp-action="Index">MasterOffer</a></li>
        <li class="breadcrumb-item active"><a asp-controller="MasterOffer" asp-action="Details">Details</a></li>
    </ol>
</nav>
<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">MasterOffer</h5>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.MasterOfferTitle)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.MasterOfferTitle)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.MasterOfferBreef)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.MasterOfferBreef)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.MasterOfferDesc)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.MasterOfferDesc)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.MasterOfferImageUrl)
                        </dt>
                        <dd class="col-sm-10">
                            <img src="~/Images/MasterOffer/@Model.MasterOfferImageUrl" style="max-width:50px" />
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.IsActive)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.IsActive)
                        </dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>
    </section>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.MasterOfferId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
